FIREBASE_API_KEY=pon_aqui_tu_api_key
FIREBASE_AUTH_DOMAIN=pon_aqui_tu_auth_domain
FIREBASE_PROJECT_ID=pon_aqui_tu_project_id
FIREBASE_STORAGE_BUCKET=pon_aqui_tu_storage_bucket
FIREBASE_MESSAGING_SENDER_ID=pon_aqui_tu_messaging_sender_id
FIREBASE_APP_ID=pon_aqui_tu_app_id
FIREBASE_MEASUREMENT_ID=pon_aqui_tu_measurement_id

CORREO_REMITE=pon_aqui_el_correo_remitente
CONTRASEÑA_CORREO=pon_aqui_la_contrasena_de_aplicacion
